
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<footer class="pt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>Lorem ipsum dolor</h3>
          <p>info@explore.com</p>
          <p>616-220-989</p>
        </div>
        <div class="col-lg-4 text-center pt-5">
          <button>CONTACT ME</button>
        </div>
        <div class="col-lg-4 right-side pt-5">
          <p>Copyright@2023</p>
          <div>
            <div class="icon">
             <i class="fa-brands fa-linkedin m-3"></i>
             <i class="fa-brands fa-facebook m-3"></i>
             <i class="fa-brands fa-twitter m-3"></i>
            </div>
        </div>
      </div>
    </div>
    </div>
    
    
    
    </footer>