<section class="skills mb-5 pb-5">
    <div class="container text-center mt-5">
      <div class="row pt-5">
        <h2>Skills</h2>
        <p class="mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam repellat, beatae quis quidem
          error cupiditate maxime laborum quo esse dolorem vitae, eveniet reprehenderit magnam earum! Alias, nesciunt.
          Possimus, corporis! Id? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis cumque, culpa nam
          adipisci, incidunt accusantium, doloremque libero labore corrupti temporibus officia magnam nisi reiciendis
          dolore aut qui iusto blanditiis quibusdam?</p>
          <div class="col-lg-5 mt-5">
            
            <h3 class="text-center">MY FOCUS</h3>
            <hr height="100px">
            <h3 class="underline"></h3>
            <p>UI/UX Design</p>
            <p>Responsive Design</p>
            <p>Web Design</p>
          </div>
          <div class="col-lg-5 mt-5">
            <p>HTML</p>
 <div class="container">
   <div class="skills html">100%</div>
 </div>
<p>CSS</p>
 <div class="container">
   <div class="skills css">90%</div>
 </div>
<p>JavaScript</p>
 <div class="container">
   <div class="skills js">65%</div>
 </div>
 <p>React</p>
 <div class="container">
   <div class="skills react">100%</div>
 </div>
 <p>Node.js</p>
 <div class="container">
   <div class="skills node">70%</div>
 </div>
 <p>WordPress</p>
 <div class="container">
   <div class="skills wordpress">65%</div>
 </div>


          </div>
    
          
        </div>
        </div>
        </section>
      