.box{
    /* border: 1px solid black; */
    padding: 4.5rem;
    background-color: rgba(0, 0, 0, 0.848);
    color: white;
    font-size: 25px;
    box-shadow: 6px 6px 4px rgba(5, 5, 5, 0.313);
   
   }
   
   .row{
     place-content: center;
   }
   
   .x div:nth-child(odd){
     background-color: rgba(128, 128, 128, 0.845);
   }