<h2 class="mb-5">Portfolio</h2>

<div class="row text-center mb-5 x">
  <div class="col-lg-3 box mb-3 me-5">
    <p>Web Design</p>
    <hr height="100px">
  </div>
  <div class="col-lg-3 me-5 mb-3 box">
    <p>Mobile Design</p>
    <hr height="100px">
  </div>
  <div class="col-lg-3 mb-3 box">
    <p>Web Development</p>
    <hr height="100px">
  </div>
  <div class="col-lg-3  me-5 box">
    <p>Programming</p>
    <hr height="100px">
  </div>
  <div class="col-lg-3 me-5 box">
    <p>Artificiale Intelligence</p>
    <hr height="100px">
  </div>
  <div class="col-lg-3 box">
    <p>Multimedia</p>
    <hr height="100px">
  </div>
</div>